.page {
background-color: #F5F5F5;
color: rgba(255, 255, 255, 0.6);
}

.logo {
    color: #2196F3;
}

/*основной цвет #212121 */
/*дополнительный цвет #757575 */
/* белый rgba(255, 255, 255, 0.6) */
/*акцент #2196F3 */
/* фон background: #F5F5F5 */